<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.piyush0.questionoftheday">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".QOTDApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_config"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- evernote asked me to full backup content thing and recieve boot completed permission -->

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.ListOfUsersChallengeActivity" />
        <activity android:name=".activities.WaitingForApprovalActivity" />
        <activity android:name=".activities.GameActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.TimeCountingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.GameResultsActivity"></activity>
    </application>

</manifest>